# {{ ansible_managed }}

{% for hostname, entry in ssh_hosts | dictsort %}
Host {{ hostname }}
{% for entry_name, entry_value in entry | dictsort %}
  {{ entry_name }} {{ entry_value }}
{% endfor %}

{% endfor %}
