# {{ ansible_managed }}

{% if zsh.bindkey != '' %}
bindkey -M {{ zsh.bindkey }} > /dev/null
{% endif %}

autoload -U compinit && compinit

{% if zsh.word_style != '' %}
autoload -U select-word-style && select-word-style {{ zsh.word_style }}
{% endif %}

{% for k, v in zsh.environment|dictsort %}
export {{ k }}={{ v }}
{% endfor %}

{% if zsh.histsize != '' %}
HISTSIZE={{ zsh.histsize }}
{% endif %}

{% if zsh.savehist != '' %}
SAVEHIST={{ zsh.savehist }}
{% endif %}

{% if zsh.path|length > 0 %}
export PATH=$PATH:{{ zsh.path|join(':') }}
{% endif %}

{% for k, v in zsh.opts|dictsort %}
{% if v %}
setopt {{ k }}
{% else %}
unsetopt {{ k }}
{% endif %}
{% endfor %}

{% for k, v in zsh.aliases|dictsort %}
alias {{ k }}='{{ v }}'
{% endfor %}

{{ zsh.zsh_extra }}
